/* RESET DO CSS */
* {
    margin: 0px; /* espaçamento fora do texto */
    padding: 0; /* espaçaento dentro da caixa de texto ( preenchimento*/
   
    
}

body {font-family: Arial, Helvetica, sans-serif;}

h1, p{text-align: center;
margin: 10px}
header {
background-color: rgb(24, 16, 8);
color: antiquewhite;
padding: 80px;

}

main {
    height: 600px;
    background-color: rgb(255, 228, 196);
}